h1 {
  color: green;
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.5;
}

img {
  width: 200px;
  height: auto;
  margin: 10px;
}

body {
  margin: 100px;
}

.tissue {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.tissuetw {
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  opacity: 0; /* hide the text by default */
  background-color: green; /* add a semi-transparent background */
  padding: 20px;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.tissue:hover .tissuetw {
  opacity: 1; /* show the text on hover */
}

.perioe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.perioe .overlay {
  position: absolute;
  top: 100;
  left: 100;
  opacity: 0;
  transition: opacity 0.3s ease;

  width: 70px;
  height: auto;
  margin: 10px;
}

.perioe:hover .overlay {
  opacity: 1;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(10px, 0);
  }
  60% {
    transform: translate(-10px, 0);
  }
  80% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.mac {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  height: 200px;
}

.mactw {
  position: relative;
  top: 0%;
  left: 30%;
  transform: translate(-50%, -50%);
  opacity: 0; /* hide the text by default */
  background-color: green; /* add a semi-transparent background */
  padding: 20px;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.mac:hover .mactw {
  opacity: 1; /* show the text on hover */
}

.mac:hover .macimg {
  transform: rotate(10deg) scale(1.4);
  transition: transform 0.3s ease;
}

.tarot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.tarottw {
  position: relative;
  top: 0%;
  left: 30%;
  transform: translate(-50%, -50%);
  opacity: 0; /* hide the text by default */
  background-color: green; /* add a semi-transparent background */
  padding: 20px;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.tarot:hover .tarottw {
  opacity: 1; /* show the text on hover */
}
