body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px;
  line-height: normal;
}

:root {
  --font-size-lg: 2rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1rem;
}

@media (min-width: 480px) {
  :root {
    --font-size-lg: 2.75rem;
    --font-size-md: 2rem;
    --font-size-sm: 1.25rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-lg: 7rem;
    --font-size-md: 2.5rem;
    --font-size-sm: 1.5rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Rubik+Puddles&display=swap");

h1 {
  font-size: var(--font-size-lg);
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

p {
  text-align: center;
  line-height: normal;
}

.oh {
  font-size: var(--font-size-sm);
  color: rgb(47, 27, 27);
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.ummm {
  font-size: var(--font-size-md);
  color: rgb(255, 0, 0);
  font-family: "Rubik Puddles", cursive;
  line-height: 0;
}

.each {
  font-size: var(--font-size-sm);
  color: rgb(47, 27, 27);
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

button {
  display: block;
  margin: 0px auto;
  background: none;
  border: none;
  font-size: var(--font-size-md);
  color: rgb(255, 0, 0);
  font-family: "Rubik Puddles", cursive;
  line-height: 0;
}

.button-with-animated-cursor {
  display: block;
  background: none;
  border: none;
  padding: 0;
  font-size: var(--font-size-md);
  color: rgb(255, 0, 0);
  font-family: "Rubik Puddles", cursive;
  line-height: 0;
  cursor: none;
  position: relative;
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  animation-name: cursorAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes cursorAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.image-section {
  justify-content: center;
  width: 50%;
  height: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.image-section img {
  max-width: 100%; /* Set the maximum width of the images to 50% of the image section */
  max-height: 50%; /* Set the maximum height of the images to 100% of the image section */
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

#imageSection1 {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

#imageSection2 {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

#searchSection {
  margin-top: 20px;
}

#searchSection input[type="text"],
#searchSection button {
  display: block;
  margin: 50px auto;
}
