* {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

/* adjusting fonts */

body {
  font-size: 22px;
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
  --accent-color: rgb(0, 0, 255);
}

p,
li {
  font-size: 22px;
  line-height: 30px;
}

/* adjusting spacing */

#left-column {
  padding: 20px;
}

h1,
p {
  margin-bottom: 20px;
}

ul,
ol {
  margin-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--accent-color);
  background: transparent;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

button:hover {
  background: rgb(200 200 200);
  cursor: pointer;
}

/*	DARK MODE STYLES GO HERE */

body.darkmode {
  background: black;
  color: white;

  /*	redefine a CSS variable */
  --accent-color: rgb(0, 255, 0);
}

body.darkmode button {
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  #left-column {
    padding: 0px;
  }
  h1,
  p {
    margin-bottom: 0px;
  }

  ul,
  ol {
    margin-left: 0px;
  }
}
